.btn-outline-secondary:hover {
    background-color: seagreen;
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    background-color: seagreen;
    box-shadow: none;
}

.btn-group-toggle {
    margin: 8px;
    float: left;
}